<div class="offer-header">
    <span class="offer-header__term">{{offerInfo.term}}</span>
    <h4 class="offer-header__description">{{offerInfo.description}}</h4>
</div>

<div class="offer-body">
    <div class="offer-body__price-wrapper">
        <span class="offer-body__price">{{offerInfo.price | currency : "RUB" : 'symbol' : '0.0-0'}}</span>
        <span class="offer-body__old-price">{{offerInfo.oldPrice | currency : "RUB" : 'symbol' : '0.0-0'}}</span>
    </div>

    <span class="offer-body__monthly-text">в месяц</span>
    <button (click)="offerInfo.ctaCallback()" class="offer-body__cta button">{{offerInfo.ctaText}}</button>
    <span class="offer-body__cta-description">{{offerInfo.ctaDescription}}</span>
</div>




