.todos-page {
    display: grid;
    margin: 0 auto 36px;
}

.css-layout-href {
    margin: 0 auto;
}

.nav-hrefs {
    margin: 0 auto;
}

.activated-route {
    font-weight: bold;
    color: blueviolet;
}
