@import "src/styles/variables";

.promo-page {
    padding: 140px;
    display: grid;
    font-family: 'Montserrat', sans-serif;
    color: $black;

    &__header {
        display: flex;
        margin: unset;
        max-width: 660px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__offers {
        margin-top: 60px;
    }
}

.offers {
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__offer {
        box-shadow: 0 0 15px rgba(104, 128, 155, 0.15);
        max-width: 360px;
        max-height: 407px;
    }
}

@media screen and (max-width: 768px) {
    .promo-page {
        padding: 64px;

        &__header {
            font-size: 24px;
            line-height: 29.26px;
        }
    }

    .offers {
        margin-top: 40px;
    }
}

@media screen and (max-width: 426px) {
    .promo-page {
        padding: 58px 16px 16px;
    }

    .offers {
        gap: 20px;
    }
}
