<h2 class="promo-page__header">Успейте оформить подписку со скидкой</h2>

<div class="promo-page__offers offers">
    <app-offer-widget
        class="offers__offer"
        [offerInfo]="getOfferInfo('short')"
        [isMobileView]="isMobileView"
    ></app-offer-widget>

    <app-offer-widget
        class="offers__offer"
        [offerInfo]="getOfferInfo('middle')"
        [isMobileView]="isMobileView"
        [offerRecommend]="true"
    ></app-offer-widget>

    <app-offer-widget
        class="offers__offer"
        [offerInfo]="getOfferInfo('long')"
        [isMobileView]="isMobileView"
    ></app-offer-widget>
</div>
