@import "./assets/style.css";
@import "./styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
    margin: unset;
}

.button {
    font: inherit;
    border-radius: 50px;
    border: unset;
    background-color: $white;
    padding: 16px 0;
    cursor: pointer;
    border: 1px solid $grey;
}
